<% include headerLayoutWithLogin.ejs %>


    <section>
      <form name="form" action="/add-report?access_token=<%= accessToken %>" method="post">
        <legend>add report form</legend>
        <div class="form-group">
          <label for="client_email">client email</label>
          <input type="text" name="client_email" placeholder="client_email" required> 
        </div>
        <div class="form-group">
          <label for "description">description</label>
          <input type="textarea" name="description" placeholder="description" required>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </form>
    <section>


<% include footerLayout.ejs %>
