<% if (accessToken) { %>
<%  include headerLayoutWithLogin.ejs %>
<% }else{ %>
<%  include headerLayoutWithoutLogin.ejs %>
<% } %>


    <section>
      <ul>
        <% for(var i=0; i<reports.length; i++) {%>
           <li>operator : <%= reports[i].operator %>, description : <%= reports[i].description %>, date : <%= reports[i].date %> </li>
        <% } %>
      </ul>
    <section>


<% include footerLayout.ejs %>
