<% include headerLayoutWithoutLogin.ejs %>


    <section>
      <!-- <form name="form" action="/login" method="post"> -->
      <form name="form" method="post">
        <legend>Log in form</legend>
        <div class="form-group">
          <label for="email">Email</label>
          <!-- <input type="text"> -->
          <input type="email" name="email" placeholder="Email" value='1234@gmail.com' required>
        </div>
        <div class="form-group">
          <label>Password</label>
          <!-- <input type="password"> -->
          <input type="password" name="password" placeholder="Password" value='1234' required>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">Log in</button>
        </div>
      </form>
    <section>


<% include footerLayout.ejs %>
