<style>
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
        margin: 100px;
        margin-left: 100px;
        margin-right: auto;
    }
</style>

<div id="3d_view"></div>

<div id="size">
    <table ng-show="currentClient||currentOperator">
        <tr>
            <th>Name</th>
            <th>Value(cm)</th>
        </tr>
        <tr>
            <td>Breast Size</td>
            <td>{{reportinfo.breast_size}}</td>
        </tr>
        <tr>
            <td>Waist Size</td>
            <td>{{reportinfo.waist_size}}</td>
        </tr>
        <tr>
            <td>Hip Size</td>
            <td>{{reportinfo.hip_size}}</td>
        </tr>
        <tr>
            <td>Volume</td>
            <td>{{reportinfo.volume}}</td>
        </tr>
        <tr>
            <td>Surface</td>
            <td>{{reportinfo.surface}}</td>
        </tr>
        <tr>
            <td>BMI</td>
            <td>{{reportinfo.bmi}}</td>
        </tr>
        <tr>
            <td>WHR</td>
            <td>{{reportinfo.whr}}</td>
        </tr>
    </table>
</div>
<div id="summary">
    <img src="/api/filestores/uploadFile/download/info_sample.jpg">
</div>
<div>
    <button onClick="window.open('views/diag_info.html','diag information','width=850,height=700')">진단 정보</button>
    <button>비교</button>
</div>
<script src="/client/js/threejs_master/examples/js/loaders/STLLoader.js"></script>
<script src="/client/js/threejs_master/examples/js/controls/OrbitControls.js"></script>
<script src="/client/js/threejs_master/examples/js/Detector.js"></script>

<script src="/client/js/controllers/3d.controller.js"></script>

