<section>
  <h1 ng-show="currentClient">You are Client logged in!!</h1>
  <h2 ng-show="currentClient">id : {{currentClient.id}}</h2>
  <h2 ng-show="currentClient">tokenid : {{currentClient.tokenId}}</h2>
  <h2 ng-show="currentClient">email : {{currentClient.email}}</h2>
  <h2 ng-show="currentClient">name : {{currentClient.name}}</h2>
  <h2 ng-show="currentClient">gender : {{currentClient.gender}}</h2>
  <h2 ng-show="currentClient">birth : {{currentClient.birth|date:'yyyy/mm/dd'}}</h2>
  <h2 ng-show="currentClient">address : {{currentClient.address}}</h2>
  <h2 ng-show="currentClient">age : {{currentClient.age}}</h2>

  <p ng-show="currentClient">Welcome to inhuman-nextmody</p>

  <h1 ng-show="currentOperator">You are Operator logged in!!</h1>
  <h2 ng-show="currentOperator">id : {{currentOperator.id}}</h2>
  <h2 ng-show="currentOperator">tokenid : {{currentOperator.tokenId}}</h2>
  <h2 ng-show="currentOperator">email : {{currentOperator.email}}</h2>
  <h2 ng-show="currentOperator">gender : {{currentOperator.gender}}</h2>
  <h2 ng-show="currentOperator">birth : {{currentOperator.birth|date:'yyyy/mm/dd'}}</h2>
  <h2 ng-show="currentOperator">address : {{currentOperator.address}}</h2>
  <h2 ng-show="currentOperator">age : {{currentOperator.age}}</h2>
  
</section>
